<section class="section-sm bg-dark bg-shape">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="title text-white text-center mb-4">
          <img src="images/gmail.png" alt="" class="img-fluid mb-4">
          <h3>Subscribe</h3>
          <p class="text-white-50 mb-0">Subscribe to our newsletter & stay update</p>
        </div>

        <div class="subscribe">
          <form>
            <div class="row justify-content-center align-items-center g-2">
              <div class="col-md-8">
                <div class="">
                  <input type="text" class="form-control rounded-pill" placeholder="Enter your E-mail address">
                </div>
              </div>  
              <div class="col-md-4">
                <div>
                  <button type="submit" class="btn btn-primary w-100">Subscribe Us</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>