# Angular SPA routing
RewriteEngine On
RewriteBase /

# Ne pas toucher index.html
RewriteRule ^index\.html$ - [L]

# Si le fichier ou dossier existe, sert-le
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, redirige tout vers index.html
RewriteRule . /index.html [L]
