<section class="bg-home-app" id="home">
  <div class="bg-overlay-2"></div>
  <div class="home-center pb-0">
    <div class="home-desc-center">
      <div class="container">
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-lg-9">
            <img src="images/sm-phone.png" alt="" class="img-fluid mb-4">
            <h5 class="mb-3 text-primary">Welcome To Skywave</h5>
            <h1 class="lh-base text-dark">Are You Ready For A Revolution In Tech Industry ?<span class="text-primary">
                Explore Us .</span> </h1>
            <p class="text-muted mb-4">At the heart of every successful tech application lies a fusion of creativity,
              functionality, and user-centric design. Whether it's streamlining business processes, enhancing customer
              experiences</p>
            <div class="main-btn text-center mt-4">
              <a href="#" class="btn p-0 m-0"><img src="images/apple_store.png" alt="" class="img-fluid"></a>
              <a href="#" class="btn p-0 m-0 ms-2"><img src="images/google-play.png" alt="" class="img-fluid"></a>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="main-img">
              <img src="images/mobile.png" alt="" class="img-fluid mt-5">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>