<section class="section position-relative" id="about">
  <div class="container">
    <div class="row justify-content-between g-3">
      <div class="col-lg-4">
        <div class="about-content">
          <p class="d-flex align-items-center mb-4">
            <span class="icon bg-primary rounded d-flex justify-content-center align-items-center">
              <i class="ti ti-info-circle text-white f-18"></i>
            </span>
            <i class="ti ti-line-dashed text-primary fs-5"></i>
            <span class="badge bg-light border text-primary py-2 px-3 f-14">About Us </span>
          </p>
          <h3>Amazing Platform</h3>
          <p class="mb-0 text-muted">Amazing Platform offers cutting-edge solutions to elevate your digital presence.
          </p>
          <div class="mt-5">
            <div class="row">
              <div class="col-lg-3 col-3">
                <h4 class="fw-semibold">5+</h4>
                <p class="mb-0 text-muted">Years</p>
              </div>
              <div class="col-lg-3 col-3">
                <h4 class="fw-semibold">70+</h4>
                <p class="mb-0 text-muted">Client</p>
              </div>
              <div class="col-lg-3 col-3">
                <h4 class="fw-semibold">150+</h4>
                <p class="mb-0 text-muted">Design</p>
              </div>
              <div class="col-lg-3 col-3">
                <h4 class="fw-semibold">18+</h4>
                <p class="mb-0 text-muted">Teams</p>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center gap-3 mt-5">
            <img src="images/team/avatar-8.jpg" alt="" class="rounded-circle" width="40" height="40">
            <div>
              <p class="m-0 text-dark fs-6">Malikk Ganteng</p>
              <p class="m-0 f-14 text-muted">Data Analyst &#64;</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row align-items-center g-3">
          <div class="col-lg-6">
            <div class="bg-light p-3 rounded-start rounded-top rounded-5">
              <div class="d-flex align-items-center gap-3 mb-3">
                <span
                  class="icon-bg text-primary rounded d-flex justify-content-center align-items-center border border-primary">
                  <i class="ti ti-brand-codepen fs-4"></i>
                </span>
                <p class="mb-0 fw-semibold f-18">Strategy Innovations</p>
              </div>
              <p class="mb-0 text-muted">We help you define a clear vision and roadmap for your business. Our
                comprehensive strategic planning services</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="bg-light p-3 rounded-end rounded-top rounded-5">
              <div class="d-flex align-items-center gap-3 mb-3">
                <span
                  class="icon-bg text-primary rounded d-flex justify-content-center align-items-center border border-primary">
                  <i class="ti ti-hours-24 fs-4"></i>
                </span>
                <p class="mb-0 fw-semibold f-18">Personalized Solutions</p>
              </div>
              <p class="mb-0 text-muted">Our team of seasoned professionals provides strategic advice and practical
                insights, helping you make informed.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="bg-light p-3 rounded-start rounded-bottom rounded-5">
              <div class="d-flex align-items-center gap-3 mb-3">
                <span
                  class="icon-bg text-primary rounded d-flex justify-content-center align-items-center border border-primary">
                  <i class="ti ti-device-desktop fs-4"></i>
                </span>
                <p class="mb-0 fw-semibold f-18">Digital Design</p>
              </div>
              <p class="mb-0 text-muted">We create responsive and user-friendly websites that provide an exceptional
                online experience, tailored to your brand.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="bg-light p-3 rounded-end rounded-bottom rounded-5">
              <div class="d-flex align-items-center gap-3 mb-3">
                <span
                  class="icon-bg text-primary rounded d-flex justify-content-center align-items-center border border-primary">
                  <i class="ti ti-file-description fs-4"></i>
                </span>
                <p class="mb-0 fw-semibold f-18">Subscription</p>
              </div>
              <p class="mb-0 text-muted">Make your money analysis faster and create your own way of saving on payments
                negotiate bills and subscriptions</p>
            </div>
          </div>
        </div>
        <div class="text-end mt-3">
          <a href="#!" class="btn btn-primary">Show More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-sm" id="creative">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-6">
        <img src="images/creative.png" alt="" class="img-fluid mx-auto d-block">
      </div>
      <div class="col-lg-6">
        <div class="ps-lg-5">
          <p class="d-flex align-items-center mb-4">
            <span class="icon bg-primary rounded d-flex justify-content-center align-items-center">
              <i class="ti ti-brand-react text-white f-18"></i>
            </span>
            <i class="ti ti-line-dashed text-primary fs-5"></i>
            <span class="badge bg-light border text-primary py-2 px-3 f-14">Creative Us</span>
          </p>
          <h3>Unleashing Your Imagination</h3>
          <p class="text-muted">At Creative Us, we believe in the power of imagination and creativity. Our mission is to
            help you bring your ideas to life through innovative design and artistic expression.</p>
          <div class="row my-4">
            <div class="col-lg-4 col-4">
              <h4 class="fw-semibold">20+</h4>
              <p class="mb-0 text-muted">Working Task</p>
            </div>
            <div class="col-lg-4 col-4">
              <h4 class="fw-semibold">70+</h4>
              <p class="mb-0 text-muted">Country Reached</p>
            </div>
            <div class="col-lg-4 col-4">
              <h4 class="fw-semibold"><i class="ti ti-star-filled text-warning"></i> 4.5</h4>
              <p class="mb-0 text-muted">Best Rating</p>
            </div>
          </div>
          <p class="text-muted"><b class="text-primary">Comments</b><span class="mx-1 text-dark">:</span>This perfectly
            encapsulates the spirit of Creative Us! Embracing the boundless potential of creativity</p>
          <div class="main-btn mt-4">
            <a href="#!" class="btn btn-primary">About Me</a>
            <a href="#!" class="btn btn-info ms-1">Contact Me</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>