<section class="section-sm bg-dark bg-shape">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="cta-content text-white mb-3">
          <h4 class="mb-0 mt-2">Trusted by over 10,000 global businesses. Try Skywave today!</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-lg-end">
          <a href="#" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>