<section class="section bg-light" id="expertise">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="title text-center mb-5">
          <p class="d-flex align-items-center justify-content-center mb-4">
            <span class="icon bg-primary rounded d-flex justify-content-center align-items-center">
              <i class="ti ti-key text-white f-18"></i>
            </span>
            <i class="ti ti-line-dashed text-primary fs-5"></i>
            <span class="badge bg-light border text-primary py-2 px-3 f-14">Features</span>
          </p>
          <h3>Une expertise technique orientée performance</h3>
          <p class="text-muted">Nous concevons et développons des solutions digitales robustes, évolutives
            et adaptées aux enjeux métiers de nos clients.</p>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-6">
        <div class="row g-3">
          <div *ngFor="let feature of features" class="col-lg-6">
            <div class="card border-0">
              <div class="card-body">
                <div class="d-flex align-items-center gap-3 mb-3">
                  <span
                    class="icon-bg text-primary rounded d-flex justify-content-center align-items-center flex-shrink-0">
                    <i class="{{ feature.icon }} fs-4"></i>
                  </span>
                  <p class="mb-0 fw-semibold f-18">{{ feature.title }}</p>
                </div>
                <p class="mb-0 text-muted">{{ feature.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card border-0">
          <div class="card-body">
            <div class="d-flex gap-3 mb-3">
              <span class="icon-lg text-primary rounded d-flex justify-content-center align-items-center flex-shrink-0">
                <i class="ti ti-pencil fs-2"></i>
              </span>
              <div>
                <p class="mb-1 fw-semibold f-18">Gestion proactive</p>
                <p class="mb-0 f-15 text-muted">
                  Des solutions fiables, sans interruption.
                </p>
              </div>
            </div>
            <img src="images/features-1.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>