<section class="section" id="services">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="title text-center mb-5">
          <p class="d-flex align-items-center justify-content-center mb-4">
            <span class="icon bg-primary rounded d-flex justify-content-center align-items-center">
              <i class="ti ti-devices-cog text-white f-18"></i>
            </span>
            <i class="ti ti-line-dashed text-primary fs-5"></i>
            <span class="badge bg-light border text-primary py-2 px-3 f-14">Our Services </span>
          </p>
          <h3>How To Better Into Business</h3>
          <p class="text-muted">Improving one's business acumen and navigating the complexities of entrepreneurship
            require </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center g-3">
      @for (service of services; track $index) {
      <div class="col-lg-4">
        <div class="card border-0 text-center" [ngClass]="{'bg-primary bg-shape':service.hasShape}">
          <div class="card-body">
            <div class="mb-3">
              <i [class]="service.icon"></i>
            </div>
            <h6 [ngClass]="{'text-white':service.hasShape}">{{service.title}}</h6>
            <p class="mt-2 {{service.hasShape ? 'text-white-50' : 'text-muted'}} ">{{service.description}}</p>
            <a href="#!" class="text-primary">View More</a>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>