<section class="section bg-light">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="title text-center mb-5">
          <p class="d-flex align-items-center justify-content-center mb-4">
            <span class="icon bg-primary rounded d-flex justify-content-center align-items-center">
<i class="ti ti-briefcase text-white f-18"></i>
            </span>
            <i class="ti ti-line-dashed text-primary fs-5"></i>
            <span class="badge bg-light border text-primary py-2 px-3 f-14">
              Ils nous font confiance
            </span>
          </p>
          <!-- <h3>Des projets réussis grâce à des partenariats solides.</h3> -->
          <p class="text-muted">
            Des projets réussis grâce à des partenariats solides.
          </p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-2">
        <div class="client-images">
          <img src="images/clients/6.png" alt="logo-img" class="mx-auto img-fluid d-block" />
        </div>
      </div>
      <div class="col-lg-2">
        <div class="client-images">
          <img src="images/clients/2.png" alt="logo-img" class="mx-auto img-fluid d-block" />
        </div>
      </div>
      <div class="col-lg-2">
        <div class="client-images">
          <img src="images/clients/3.png" alt="logo-img" class="mx-auto img-fluid d-block" />
        </div>
      </div>
      <div class="col-lg-2">
        <div class="client-images">
          <img src="images/clients/4.png" alt="logo-img" class="mx-auto img-fluid d-block" />
        </div>
      </div>
      <div class="col-lg-2">
        <div class="client-images">
          <img src="images/clients/5.png" alt="logo-img" class="mx-auto img-fluid d-block" />
        </div>
      </div>
      <div class="col-lg-2">
        <div class="client-images">
          <img src="images/clients/1.png" alt="logo-img" class="mx-auto img-fluid d-block" />
        </div>
      </div>
    </div>
  </div>
</section>