<section class="section bg-light" id="features">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="title text-center mb-5">
          <p class="d-flex align-items-center justify-content-center mb-4">
            <span class="icon bg-primary rounded d-flex justify-content-center align-items-center">
              <i class="ti ti-key text-white f-18"></i>
            </span>
            <i class="ti ti-line-dashed text-primary fs-5"></i>
            <span class="badge bg-light border text-primary py-2 px-3 f-14">Features</span>
          </p>
          <h3>Features of Our Team of Exceptional Talent</h3>
          <p class="text-muted">Their diverse skills and creative approaches ensure that we consistently deliver
            outstanding results and push the boundaries of what's possible. </p>
        </div>
      </div>
    </div>
    <div class="row mt-5 text-center g-4">
      <div class="col-lg-4">
        <div class="card border-0">
          <div class="card-body pb-0">
            <h5>Full Exploration Apps</h5>
            <p class="text-muted">Unlock endless possibilities with our suite of Full Exploration Apps.</p>
            <img src="images/phone-3.png" alt="" class="img-fluid mt-3">
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card border-0">
          <div class="card-body pt-0">
            <img src="images/phone-2.png" alt="" class="img-fluid mb-3">
            <h5 class="mt-3">Lightweight and Fast</h5>
            <p class="text-muted mb-0">Experience a responsive app that runs smoothly without draining your...</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card border-0">
          <div class="card-body pb-0">
            <h5>Live Chat & Call</h5>
            <p class="text-muted">Connect with our support team or other users in time with the Live Chat feature. </p>
            <img src="images/phone-4.png" alt="" class="img-fluid mt-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>